.container {
  font-family: 'Pragmatica Cyrillic', arial;
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}

.doc {
  display: inline-block;

}

header {
  color: #656565;
  margin-bottom: 70px;
  text-align: left;
}

h2 {
  color: #656565;
  text-align: left;
}

input[type=file] {
  cursor: pointer;
  width: 400px;
  height: 34px;
  overflow: hidden;
  margin-bottom: 50px;
}

input[type=file]:before {
  width: 400px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  content: '✚ Добавьте файл';
  color: #bbbbbb;
  display: inline-block;
  background: white;
  border: none;
  padding: 0 10px;
  text-align: left;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

textarea {
  font-family: sans-serif;
  height: 180px;
  width: 550px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color:#f7f7f7
}

input[type=text] {
  text-decoration: #dfdede;
  height: 50px;
  width: 550px;
  padding: 12px;
  margin-bottom: 50px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color:#f7f7f7
}

input[type=submit] {
  background-color: #549ffd;
  padding: 15px 25px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  padding-top: 7px;
  float: left;
}
