body {
  font-family: 'Pragmatica Cyrillic', arial;
  height: 100%;
  margin: auto;
}

p, td {
  font-family: 'PragmaticaLightC';
  font-size: 14px;
  line-height: 19px;
}

td {
  color: rgba(0, 0, 0, 0.5);
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;
  font-size: 11px;
  text-decoration: none;


  &:hover {
    color: #00AEEF;
  }
}

#notice {
  color: green;
  margin-left: 30px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul li {
    font-size: 12px;

    list-style: square;
  }
}

label {
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

h2 {
   font-weight: bold;
   font-size: 20px;
 }

 h3 {
   font-size: 18px;
   font-weight: lighter;
 }

 .section_header {
   margin-left: 30px;
 }

.main {
  width: 838px;
  padding-left: 280px;
  padding-top: 105px;
}

.cards_area {
  width: 100%;
  margin-top: 40px;
  position:relative;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 206px;
  height: 123px;
  border-radius: 2%;
  position: relative;
  background-color: #F5F5F5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-left: 30px;
  margin-bottom: 30px;
  display: inline-flex;
  min-width: 0%
}

.card_new {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.card_new a, .edit a, .delete a {
 height: 100%;
 width: 100%;
 z-index: 1;
 display: block;
}

.add {
  height: 35px;
  width: 35px;
  background-image: image_url('add.png');
  background-size: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 45px;
}

.delete {
  width: 20px;
  height: 20px;
  margin-top: -5px;
  background-image: image_url('delete.png');
  background-size: cover;
  margin-left: 195px;
  position: absolute;
  display: none;
}

.edit {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 195px;
  position: absolute;
  background-image: image_url('edit.png');
  background-size: cover;
  display: none;
}

.card:hover .edit {
  display:block;
}

.card:hover .delete {
  display:block;
}

.card:hover {
  box-shadow: 0 2px 12px rgba(0,0,0,0.25);
}

.previev {
  width: 348px;
  height: 122px;
  /* position: absolute; */
  /* margin-left: 50%; */
  border-radius: -2%;
  /* transform: translateX(-50%); */
  margin-top: -3px;
  background-size: cover;
  background-image: image_url('preview.png');
  margin-top: -21px;
  margin-left: -12px;
}

.card_title {
  margin-top: 80px;
  margin-left: 20px;
  position: absolute;
}

.card_title h2 {
  font-family: Pragmatica;
}

.doc_show {
  margin-top: 40px;
  width: 800px;
}

// 
//
//
//
//
//
//
// textarea {
//   width: 609px;
//   height: 30px;
//   resize: none;
//   border-style: solid;
//   border-radius: 5px;
//   border-color: #979797;
//   font-size: 15px;
//   padding-left: 10px;
//   padding-top: 10px;
// }
//
// .data_output {
//   line-height: 30px;
//   margin-top: 50px;
// }
//
//
//
//
// .network_choice {
//   width: 609px;
//   height: 30px;
//   border-radius: unset;
//   background-color: white;
//   font-size: 15px;
// }
//
//
// .js-example-basic-multiple {
//   width: 609px;
//   height: 30px;
// }
